<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">
  <div class="row row-reverse row-container">
    <div class="col">
      <div>
        <video
          content-selector="1"
          poster
          data-video-name="none"
          autoplay
          loop
          muted
          playsinline>
   	    <source src="https://publiclogoimages.s3.ca-central-1.amazonaws.com/edu/manage.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="col">
      <div class="category">MANAGE</div>
      <div class="section-title">Simplify teaching and learning</div>
      <ul>
	<li>Add students directly, or share a code or link so the whole class can join</li>
	<li>Set up a class in minutes and create class work that appear on students’ calendars</li>
	<li>Easily communicate with guardians and automatically send them updates</li>
      </ul>
    </div>
  </div>

  <div class="row row-container">
    <div class="col">
     <div>
        <video
          content-selector="1"
          poster
          data-video-name="none"
          autoplay
          loop
          muted
          playsinline>
            <source src="https://publiclogoimages.s3.ca-central-1.amazonaws.com/edu/measure.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="col">
      <div class="category">MEASURE</div>
      <div class="section-title">Move students forward</div>
      <ul>
        <li>Store frequently used feedback in your comment bank for fast, personalized responses</li>
        <li>Grade consistently and transparently with rubrics integrated into student work</li>
        <li>Enable originality reports to let students scan their own work for potential plagiarism</li>
      </ul>
    </div>
  </div>

  <div class="row row-reverse row-container">
    <div class="col">
      <div>
        <video
          content-selector="1"
          poster
          data-video-name="none"
          autoplay
          loop
          muted
          playsinline>
            <source src="https://publiclogoimages.s3.ca-central-1.amazonaws.com/edu/collaborate.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="col">
      <div class="category">COLLABORATE</div>
      <div class="section-title">Strengthen student connections</div>
      <ul>
        <li>Connect with your students from anywhere with a hybrid approach for in-class and virtual classes</li>
        <li>Communicate important announcements to the Stream page</li>
        <li>Enable face-to-face connections with students using Google Meet built into Classroom</li>
      </ul>
    </div>
  </div>

  <div class="row row-container">
    <div class="col">
      <div>
        <video
          content-selector="1"
          poster
          data-video-name="none"
          autoplay
          loop
          muted
          playsinline>
            <source src="https://publiclogoimages.s3.ca-central-1.amazonaws.com/edu/secure.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="col">
      <div class="category">SECURE</div>
      <div class="section-title">Keep your data protected</div>
      <ul>
        <li>Ensure each user has a unique sign-in to keep individual accounts secure</li>
        <li>Restrict Classroom activity to members of the class</li>
        <li>Protect student privacy - student data is never used for advertising purposes</li>
      </ul>
    </div>
  </div>

  <div class="row row-container row-desc">
    <p class="p-desc">
      <span class="desc-quote">
        “By allowing students to submit their work with Classroom, I can keep track of my sections, view grades easily, and mark assignments during any free time I have, without having to carry stacks of paper around. Classroom has made this process so easy and convenient.”
      </span>
      <span class="desc-by">Laura Barton, Science Teacher, Fontbonne Hall Academy</span>
    </p>
  </div>

  <div class="row row-container row-reverse">
    <div class="col">
      <img src="https://publiclogoimages.s3.ca-central-1.amazonaws.com/edu/apps-list.jpg" />
    </div>
    <div class="col">
      <div class="section-title">Use your favorite apps with Classroom</div>
      <p>Thousands of educator-approved apps integrate with Classroom to spark creativity and enable unlimited opportunities for learning.</p>
    </div>
  </div>

  <div class="row row-container">
    <div class="row card-row">
      <div class="category">RESOURCES</div>
      <div class="section-title">Explore resources to empower your education needs</div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card card-desc">
          <div class="card-body">
	    <i class="fas fa-file-pdf"></i>
	    <div class="card-title">
	      Overview
	    </div>
	    <div class="card-desc">
	      Get a quick overview of the benefits of Classroom including simplifying your work so you can focus on teaching.
	    </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-desc">
          <div class="card-body">
            <i class="fab fa-youtube"></i>
            <div class="card-title">
              Get started with Classroom
            </div>
            <div class="card-desc">
              Learn how to set up classes, and host virtual classes with Meet, organize content on the Classwork page, and give quick feedback in the grading tool.
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-desc">
          <div class="card-body">
            <i class="fas fa-newspaper"></i>
            <div class="card-title">
              Get resources, tips, and tricks in Teacher Center
            </div>
            <div class="card-desc">
              Get the most out of Classroom with these simple tips, tricks, and resources from fellow teachers and educators.
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-desc">
          <div class="card-body">
            <i class="fas fa-file-pdf"></i>
            <div class="card-title">
              Guardians Guid to Classroom
            </div>
            <div class="card-desc">
              Keep parents and guardians informed with this helpful education resource on Classroom and how to keep kids safe online.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-container">
    <div class="col">
      <div class="category">GET STARTED</div>
      <div class="section-title">Get Classroom as part of G Suite for Education</div>
      <p>
        If you’re using Classroom in school, we recommend signing up for G Suite for Education. Classroom is already included in G Suite for Education and works seamlessly with G Suite collaboration tools.
      </p>
    </div>
    <div class="col">
      <div class="section-title">Start using Classroom for free</div>
      <p>Already have G Suite for Education? Sign in to Classroom to get started managing your classes today.</p>
    </div>
  </div>
</div>
